settings {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table#stats-as-table thead tr{
	position: relative;
	display: block;
}

table#stats-as-table tbody{
	display: block;
	overflow-y: scroll;
	height: 600px;
}


table#stats-as-table th, table#stats-as-table td {
	padding: .5em;
	max-width: 14em;
	min-width: 14em;
}

table#stats-as-table td pre{
	display: block;
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	color: inherit;
	word-break: break-all;
	word-wrap: break-word;
	background-color: inherit;
	border: none;
	border-radius: 0px;
}

table#stats-as-table th {
	cursor: pointer;
}

.table-responsive {
	width:100%;
	margin: 1.5em auto;
}

.dropdown-menu { 
	width: 150px;
	left: 50%;
	margin-left: -108px;
}

.pokemon-list-wrapper {
	clear: both;
	text-align: center;
}

.pokemon-list-item {
	position: relative;
	border: 1px solid #f0f0f0;
	background: white;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
	margin: 3px;
	display: inline-block;
	width: 300px;
	height: 350px;
	padding: .5em;
	overflow: hidden;
	position: relative;
}

.pokemon-list-item .title .star {
  position: absolute;
  left: 50%;
  top: 10px;
  font-size: 800%;
  transform: translateX(-50%);
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  color: rgb(255,  200,  0);
}
.pokemon-list-item .title {
	font-weight: bold;
}
.pokemon-list-item .level,
.pokemon-list-item .image,
.pokemon-list-item .name {
  position: relative;
}
.pokemon-list-item .favorite {
	vertical-align: -6px;
}
.pokemon-list-item .iv {
	position: absolute;
	top: .5em;
	left: .5em;
	font-size: .9em;
}
.pokemon-list-item .iv img {
	height: 18px;
	width: 18px;
}
.pokemon-list-item .candies {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: .9em;
}
.pokemon-list-item .candies img {
	display: block;
}
.pokemon-list-item .moves table .separator {
	height: 10px;
}
.pokemon-list-item .moves table {
	width: 100%;
	text-align: center;
	line-height: 140%;
	min-height: 76px;
}
.pokemon-list-item .moves table .selected-icon {
	width: 10px;
	height: 10px;
}
.pokemon-list-item .actions {
	padding: .5em;
}

#sort-orders{
	margin-bottom: 1.5em;
	width:8em;
	float:right;
}

.moves .atk_name {
  text-align: left;
}

.moves .atk_dps {
  text-align: right;
}

[class^="type_"] {
  color: white;
  padding: 1px 3px;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #000;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  width: 46px;
  line-height: 160%;
}
.pokemon-list-item .type_normal {
  background-color: #989965;
  border: 1px solid #595a3d;
}
.pokemon-list-item .type_fighting {
  background-color: #b01d1f;
  border: 1px solid #661213;
}
.pokemon-list-item .type_flying {
  background-color: #9778ec;
  border: 1px solid #5a498c;
}
.pokemon-list-item .type_poison {
  background-color: #8d288f;
  border: 1px solid #551b56;
}
.pokemon-list-item .type_ground {
  background-color: #d8b456;
  border: 1px solid #7d6933;
}
.pokemon-list-item .type_rock {
  background-color: #a9902b;
  border: 1px solid #67581d;
}
.pokemon-list-item .type_bug {
  background-color: #98ad19;
  border: 1px solid #5F6C16;
}
.pokemon-list-item .type_ghost {
  background-color: #5C4286;
  border: 1px solid #372850;
}
.pokemon-list-item .type_steel {
  background-color: #A9A8C5;
  border: 1px solid #696879;
}
.pokemon-list-item .type_fire {
  background-color: #EA6B25;
  border: 1px solid #874118;
}
.pokemon-list-item .type_water {
  background-color: #5679EC;
  border: 1px solid #334889;
}
.pokemon-list-item .type_grass {
  background-color: #68C03F;
  border: 1px solid #68C03F;
}
.pokemon-list-item .type_electric {
  background-color: #F5C826;
  border: 1px solid #8E7418;
}
.pokemon-list-item .type_psychic {
  background-color: #F33D75;
  border: 1px solid #8C2444;
}
.pokemon-list-item .type_ice {
  background-color: #88D0CF;
  border: 1px solid #537E7D;
}
.pokemon-list-item .type_dragon {
  background-color: #5B0FF6;
  border: 1px solid #3D1594;
}
.pokemon-list-item .type_dark {
  background-color: #5C4638;
  border: 1px solid #372A23;
}
.pokemon-list-item .type_fairy {
  background-color: #EE99AC;
  border: 1px solid #F4BDC9;
}
.pokemon-list-item .type_none {
  display: none;
}
